<h1>ユーザーリスト</h1>
<% @users.each do |user| %>
<div style= "width: 18rem;">
  <%= link_to user_path(user) do %>
  <div class="d-flex align-items-center justify-content-center p-3">
    <%= gravatar_for user %>
  </div>
    <h5><%= user.name %></h5>
    <p><%= user.introduction %></p>
    <% end %>
</div>
<% end %>