<h1>ユーザーリスト</h1>
<div style="width: 18rem;">
  <div class="d-flex align-items-center justify-content-center p-3">
    <%= gravatar_for @user %>
  </div>
    <h5><%= @user.name %></h5>
    <p>BootstrapのCardコンポーネントを使って、すべてのユーザーを横3列で表示してください</p>
</div>
